@use "./helpers.scss" as h;
@use "./variables.scss" as v;

.nav {
    @include h.center-content;
    background-color: #263137;
    backdrop-filter: blur(10px);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;

    &__items {
        @include h.center-container;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li {
            a {
                display: block;
                text-decoration: none;
                color: v.$white;
                text-transform: uppercase;
                letter-spacing: 1px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__mobile-toggle {
        display: none;
    }
}

@media (max-width: 740px) {
    .nav {
        padding-right: 0;
        width: 100vw;
        flex-direction: column;
        background-color: transparent;
        backdrop-filter: none;
        position: absolute;
        padding-top: 0;

        &__items {
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 100vw;
            text-align: center;
            backdrop-filter: blur(10px);
            transform: translateX(100%);
            height: 75vh;
            transition: transform 400ms ease-in;
        }

        &__items[data-visible="true"] {
            transform: translate(0%);
        }

        &__mobile-toggle {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10000;
            padding: 0.8rem;
            margin: 0.8rem;
            cursor: pointer;
            border: none;
            background: url("./images/menu-icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__mobile-toggle[aria-expanded="true"] {
            background: url("./images/icons8-close.svg");
        }
    }
}
