@charset "UTF-8";
footer {
  position: sticky;
  bottom: 0;
  background-color: #fdeded;
  padding: 1em;
}
footer a {
  color: #946347;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.footer-text {
  color: #946347;
  font-size: 0.75rem;
  text-align: center;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 42, 42, 0.2);
  backdrop-filter: blur(10px);
  padding-right: 2rem;
  overflow-x: hidden;
}
.nav__items {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.nav__items li a {
  display: block;
  text-decoration: none;
  padding: 2rem 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 400ms ease-in;
}
.nav__items li a:hover {
  border-bottom: 2px solid #ffffff;
}
.nav__items li a:active {
  background-color: aliceblue;
}
.nav__mobile-toggle {
  display: none;
}

@media (max-width: 740px) {
  .nav {
    padding-right: 0;
    width: 100vw;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: transparent;
    backdrop-filter: none;
  }
  .nav__items {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    text-align: center;
    background-color: rgba(49, 42, 42, 0.9);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    height: 75vh;
    transition: transform 300ms ease-in;
  }
  .nav__items[data-visible=true] {
    transform: translate(0%);
  }
  .nav__mobile-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 0.8rem;
    margin: 0.8rem;
    cursor: pointer;
    border: none;
    background: url("../images/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nav__mobile-toggle[aria-expanded=true] {
    background: url("../images/icons8-close.svg");
  }
}
header {
  height: 75vh;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Cinzel", serif;
  color: #ffffff;
  font-size: 3.125rem;
  font-weight: 500;
  letter-spacing: 3px;
}
@media (max-width: 600px) {
  header h1 {
    font-size: 2.5rem;
  }
}

.header-container {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #7c6252;
  padding: 2em;
}
.links a {
  color: #ffffff;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .links {
    font-size: 12px;
  }
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: #191635;
}
@media (max-width: 600px) {
  .quote-container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.quote {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.5em;
}
@media (max-width: 600px) {
  .quote {
    font-size: 1rem;
  }
}

.author-link {
  color: #946347;
  text-decoration: none;
}
@media (max-width: 600px) {
  .author-link {
    font-size: 0.875rem;
  }
}
.author-link:visited {
  color: #946347;
}
.author-link:hover {
  text-decoration: underline;
}

.learn-spells-container {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 1em;
}
@media (max-width: 470px) {
  .learn-spells-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
}

.search-input {
  padding: 0.8em 1.5em;
  border-radius: 9px;
  border: 1px solid #946347;
  margin-right: 0.3rem;
  outline: none;
  color: #7c6252;
}
.search-input:focus {
  outline: 3px solid black;
}

.spells {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #191635;
}

.spell__container {
  border-radius: 10px;
  border: 1px solid rgba(245, 245, 220, 0);
  margin-bottom: 0.3em;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.spell__container:hover {
  border: 1px solid #191635;
}

.spells__name {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
  font-family: "Cinzel", serif;
  font-weight: 600;
}

.spells__name.wand::before {
  content: "🪄 ";
  content: "🪄 "/"";
  margin-right: 0.6em;
  display: inline-block;
  transform: rotate(10deg);
  transition: 0.5s;
}

.spells__name.wand-bottom::before {
  content: "🪄 ";
  content: "🪄 "/"";
  margin-right: 0.6em;
  display: inline-block;
  transform: rotate(100deg);
  transition: 0.5s;
}

.spells__description {
  margin-bottom: 0.6em;
  margin-left: 2.9rem;
}
@media (max-width: 600px) {
  .spells__description {
    margin-bottom: 2rem;
    margin-left: 0;
  }
}
.spells__description ul {
  margin: 1em 0;
}
@media (max-width: 600px) {
  .spells__description ul {
    margin: 0;
    padding: 10px 20px 0 20px;
  }
}

.hidden {
  display: none;
}

.video-container {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(rgba(68, 53, 44, 0.6), rgba(68, 53, 44, 0.6)), url(images/background-2.jpg);
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  color: #ffffff;
}

.video-heading {
  margin-top: 0.5em;
  font-weight: 500;
}
@media (max-width: 600px) {
  .video-heading {
    font-size: 1rem;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
  }
}

@media (max-width: 600px) {
  iframe {
    width: 300px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.button {
  background-color: #946347;
  border: 1px solid #946347;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.button:hover {
  background-color: #ffffff;
  border: 1px solid #946347;
  color: #946347;
}
.button:focus {
  transition: none;
  outline: 3px solid black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*# sourceMappingURL=style.css.map */
